body {
  width: 100%;

}

main {
  background: url("../img/bg-rec.png") no-repeat top left / 100%, #fff;
  background-attachment: fixed;
}

.thanks {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 4.6875vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.thanks-img {
  bottom: 0;
  right: 0;
  top: 4.6875vw;
  width: 57.3958vw;
  overflow: hidden;
  display: flex;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.thanks-block {
  width: 42.6042vw;
  margin-right: auto;
  height: 100%;
  padding-right: 2.9688vw;
  padding-top: 4.8333vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  h1 {
    font-weight: 800;
    font-size: 7.8125vw;
    line-height: 1;
    text-align: right;
    color: #732163;

  }

  > p {
    font-weight: normal;
    font-size: 2.0833vw;
    letter-spacing: 0.01em;
    line-height: 2.3438vw;
    text-align: right;
    color: #732163;
    margin-top: 1.3vw;
    margin-bottom: 4.2188vw;

  }

  .link {
    margin-bottom: 2.5000vw;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {

      }

      p {
        font-weight: normal;
        font-size: 1.1979vw;
        line-height: 1.4063vw;
        text-align: right;
        color: #732163;

        margin-right: 0.9896vw;
        max-width: 19.3750vw;
      }
    }

    &:nth-of-type(1) {
      a {
        img {
          width: 5.0521vw;
          height: 5.0521vw;
          margin-right: 0.7292vw;
        }

        p {
          margin-top: -0.8vw;
        }
      }

    }

    &:nth-of-type(2) {

      a {
        img {
          width: 4.7396vw;
          height: 4.7396vw;
          margin-right: 1.0417vw;
        }

        p {
          margin-top: -0.11vw;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

  }
}

.bg-head {
  position: fixed;
  z-index: 6;
  height: 4.6875vw;
  width: 100%;
  top: 0;
  left: 0;
  background: #FCDB48;
  mix-blend-mode: screen;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

}

main {
  padding-top: 100vh;
}

.logo {
  height: 2.6042vw;
  width: auto;
  display: flex;
  //margin-left: 8.3333vw;
  margin-left: 6.2833vw;
  flex-shrink: 0;

  a, img {
    height: 100%;
    width: auto;
    display: flex;
  }
}

.header-cont {
  width: 100%;
  padding: 0.9896vw 7.5000vw 1.0938vw 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.header-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .code {
    font-weight: 600;
    font-size: 1.1979vw;
    text-align: center;
    color: #732163;
    line-height: 1.1;
    display: flex;
    padding: 0.1563vw 5.7292vw 0.3125vw;
    background: #FCDB48;
    height: 1.8229vw;

  }

  ul {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding-left: 6.5975vw;
    padding-left: 2.5975vw;

    li {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-weight: 600;
        font-size: 1.1979vw;
        text-align: center;
        line-height: 1.1;
        color: #732163;
        transition: font-weight 0.3s ease;
        justify-content: center;
        letter-spacing: 0.01em;
        display: inline-block;

        &:hover {
          font-weight: 800;
          transition: font-weight 0.3s ease;
        }
      }

      &:nth-child(1) {
        a {
          margin-left: 1.0417vw;
        }
      }

      &:nth-child(2) {
        a {
          margin-right: 0.4167vw;
        }
      }

      &:nth-child(3) {
        a {
          margin-right: 1.9792vw;
        }
      }

      &:nth-child(4) {
        a {
          margin-right: 0.9375vw;
        }
      }
    }
  }
}


.save-house {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s ease;

  &.hide {
    opacity: 0;
  }
}

.save-house__cont {

  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  position: relative;

  h1 {
    font-weight: 800;
    font-size: 10.6771vw;
    line-height: 1;
    text-align: center;
    color: #fcdb48;
    width: 100%;
    position: absolute;
    right: 0;
    top: 4.3vw;
    z-index: 2;
  }

  .text {
    width: 100%;
    max-width: 22.1875vw;
    margin-bottom: 13.4375vw;
    margin-top: 3.2292vw;
    margin-right: 7.4479vw;

    p {
      font-weight: 400;
      font-size: 1.1979vw;
      line-height: 1.4063vw;
      text-align: right;
      color: #732163;
      margin-bottom: 1.4021vw;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.video-head {
  position: relative;
  margin-bottom: 2.1646vw;
  margin-right: auto;
  width: 68.1771vw;
  height: 38.3854vw;
  overflow: hidden;

  &.played {
    .play {
      display: none;
    }
  }

  .play {
    width: 4.3229vw;
    height: 4.3229vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;

    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.59;
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}

.house-heart {
  width: 100%;
  height: 106.842105vh;

  margin-top: -6.2500vw;

  .container {
    height: 100%;
    padding-top: 12.5000vw;
    padding-bottom: 4.2188vw;
    padding-left: 0;
    padding-right: 0;
  }

}

.house-heart__cont {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 13.1771vw;


  .text {
    top: 0.7292vw;
    right: 0;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 32.2396vw;

    span {
      font-weight: 800;
      font-size: 4.1667vw;
      line-height: 0.95;
      text-align: right;
      color: #732163;
    }

    p {
      font-weight: normal;
      font-size: 2.0833vw;
      letter-spacing: 0.005em;
      line-height: 1;
      text-align: right;
      color: #732163;
    }
  }

}

.heart-slider__desk {
  height: 100%;
  width: 71.4583vw;
  margin-right: auto;
  margin-left: 0.4688vw;
  position: relative;
  z-index: 1;

}

.heart-slider__names {
  position: absolute;
  top: calc(100% + 1.19vw);
  right: 0;
  width: 100%;


  p {
    width: 100%;
    font-weight: normal;
    font-size: 1.1979vw;
    line-height: 1;
    text-align: right;
    color: #732163;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    letter-spacing: 0.01em;
    transition: opacity 0.5s ease;

    strong {
      font-weight: 800;
      letter-spacing: 0;
    }

    &.active {
      opacity: 1;
    }

  }
}

.heart-slider__list {
  margin-right: auto;
  width: 5.6771vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5729vw;
  z-index: 1;
}

.heart-slider__slide {
  width: 100%;
  height: calc((100% / 5) - ((0.5729vw * 4) / 5));
  position: relative;

  .click {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
  }

  .bg {
    background: #FCDB48;
    box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .heart-slider__vid {
    width: 100%;
    height: 100%;
    overflow: hidden;
    //opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.6s ease;


    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .play {
      width: 3.4375vw;
      height: 3.4375vw;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 4;
      transform: translate(-50%, -50%);
      opacity: 0;
      pointer-events: none;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .played, &.played {
      .play {
        display: none;
      }
    }
  }

  &.active {
    .click {
      pointer-events: none;
    }

    .play {
      opacity: 1;
      transition: opacity 0.5s ease;
      pointer-events: auto;
    }

    .heart-slider__vid {
      position: absolute;
      width: 64.2708vw;
      //height: 36.1458vw;
      height: calc(500% + (0.5729vw * 4));
      left: calc(100% + 1.5104vw);
      top: 0;
    }

    &:nth-child(2) {
      .heart-slider__vid {
        top: calc(-100% - 0.5729vw);
      }
    }

    &:nth-child(3) {
      .heart-slider__vid {
        top: calc(-200% - (0.5729vw * 2));
      }
    }

    &:nth-child(4) {
      .heart-slider__vid {
        top: calc(-300% - (0.5729vw * 3));
      }
    }

    &:nth-child(5) {
      .heart-slider__vid {
        top: calc(-400% - (0.5729vw * 4));
      }
    }
  }
}

.other-bg-section {
  z-index: 3;

  width: 100%;
  background: url("../img/bg-rec.png") no-repeat top left / 100%, #fff;
}

.yellow-mask {
  z-index: 4;
  //background: #FCDB48;
  //mask-image: url("../img/yellow-mask.svg");
  //mask-size: 100% 100%;
  mask-position: top left;

  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/yellow-mask.svg") no-repeat top left / 100% 100%;
    display: inline-block;
    content: '';
    position: absolute;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25));
  }

  .arrow-btn {
    width: 5.5208vw;
    cursor: pointer;
    height: 4.7396vw;
    position: absolute;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, 0);

    img {
      width: 100%;
      height: 100%;
    }

    &::before {
      width: 3.9063vw;
      height: 3.9063vw;
      background: #FCDB48;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      content: '';
      opacity: 0.35;
      z-index: -1;
      box-shadow: inset 0 6px 6px 0 rgba(0, 0, 0, 0.16);

    }

    &.arrow-btn--top {
      top: 0.6250vw;
      //mix-blend-mode: multiply;

    }

    &.arrow-btn--bot {
      bottom: -2.3958vw;
      //mix-blend-mode: multiply;

      &::before {
        opacity: 0.85;
      }

      &.purple {
        &::before {
          background: #732163;
        }
      }

    }
  }
}

.client {
  width: 100%;
  z-index: 3;
  height: calc(100vh + 6.3542vw);
  margin-top: -3.5417vw;
  position: relative;
  background: #732163;

  .container {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    flex-grow: 1;
  }


  &::before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    content: '';
    background: url("../img/bg-rec.png") no-repeat top left / 100%;
    opacity: 0.4;
  }
}


.client__outer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-top: calc(3.5417vw + 12.4479vw);
}

.client__top {
  width: 100%;
  height: 26.8229vw;
  position: relative;
  z-index: 2;

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.6s ease;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .text {
    .arrow-btn {
      display: none;
    }

    position: absolute;
    background: #FCDB48;
    top: 50%;

    z-index: 2;
    width: 25.6250vw;
    right: 7.4479vw;
    padding: 3.0479vw 1.3021vw 4.6354vw 3.7500vw;

    height: calc(100% + 1.4063vw + 1.4583vw);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translate(0, -50%);

    span {
      font-weight: 800;
      font-size: 4.1667vw;
      line-height: 0.95;
      text-align: right;
      color: #732163;
      display: inline-block;
      margin-bottom: 4.6354vw;

    }

    p {
      &:first-of-type {
        margin-top: auto;
      }

      font-weight: normal;
      font-size: 1.1979vw;
      letter-spacing: 0.01em;
      line-height: 1.4063vw;
      text-align: right;
      color: #732163;
      margin-bottom: 1.421vw;
      margin-right: 0.5729vw;

      &:last-child {
        margin-bottom: 0;
      }

    }
  }

}
.client__top-gallery {
  width: 100%;
  height: 100%;
}

.client {
  overflow: hidden;
}

.client__cont {
  width: 100%;
  flex-grow: 1;
  position: relative;

  .bg {
    position: absolute;
    left: -1.2500vw;
    top: -2.7083vw;
    bottom: -3.1771vw;
    width: 26.6667vw;

    img {
      width: 100%;

      height: 100%;
    }
  }
}

.footer-bot {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2.4479vw 0;

  .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 20.0000vw;
    margin-left: 6.4621vw;

    > p {

      width: 100%;
      font-weight: normal;
      font-size: 2.0833vw;
      letter-spacing: 0.01em;
      line-height: 2.3438vw;
      text-align: right;
      color: #fcdb48;
      margin-bottom: 0.6250vw;
    }
  }

}

.form {
  width: 100%;
  height: 100%;
  max-width: 39.0104vw;
  margin-top: -0.3646vw;

  form {
    width: 100%;
    width: 100%;
    direction: rtl;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.2971vw 0.6771vw;


    > p{
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1.2971vw 0.6771vw;
    }
  }
}


.check-wrap {
  width: calc(50% - (0.6771vw / 2));
  display: inline-block;
  position: relative;
  margin-top: 0.5208vw;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:checked {
      ~ span {
        &::before {
          background: url("../img/check.svg") no-repeat center / 100%;
        }

      }
    }
  }
  span {
    width: 100%;
    display: inline-block;
    margin: 0;
  }

  input + span {
    position: relative;
    padding-right: 1.9792vw;

    font-weight: normal;
    font-size: 0.8854vw;
    letter-spacing: 0.01em;
    line-height: 1.4063vw;
    text-align: right;
    color: #fcdb48;

    &::before {
      width: 1.5625vw;
      height: 1.5625vw;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      border: 1px solid #fcdb48;
      box-sizing: border-box;
      display: inline-block;
      content: '';
      transition: background 0.4s ease;
    }
  }
}

.btn {
  background: #FCDB48;
  border: none;
  padding: 4px;
  width: calc(50% - (0.6771vw / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3438vw;

  font-weight: normal;
  font-size: 1.1979vw;
  letter-spacing: 0.01em;
  line-height: 1.4063vw;
  cursor: pointer;
  text-align: center;
  color: #732163;
  transition: font-weight 0.4s ease;

  &:hover {
    font-weight: bold;
  }

}

.call {
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: -0.2604vw;
  margin-top: 3px;

  p {
    font-weight: bold;
    font-size: 1.1979vw;
    letter-spacing: 0.01em;
    line-height: 1.4063vw;
    text-align: center;
    color: #732163;
    margin-bottom: -0.6250vw;
    margin-right: 0.2083vw;
  }

  a {
    font-weight: bold;
    font-size: 4.1667vw;
    letter-spacing: 0.01em;
    line-height: 1;
    text-align: center;
    color: #732163;

  }
}

.input-wrap {
  width: calc(50% - (0.6771vw / 2));
  display: inline-block;

  input {
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0);
    outline: none;
    border-bottom: 1px solid #fcdb48;
    height: 1.6625vw;
    font-weight: normal;
    font-size: 0.8854vw;
    letter-spacing: 0.01em;
    line-height: 1;
    padding: 6px 0;
    text-align: center;
    color: #fcdb48;

    &::placeholder {
      font-weight: normal;
      font-size: 0.8854vw;
      letter-spacing: 0.01em;
      line-height: 1.4063vw;
      text-align: center;
      color: #fcdb48;
    }

  }
}

.happiness {
  width: 100%;
  height: calc(100vh + 2.8646vw);
  position: sticky;
  top: 0;
  z-index: 1;

  .container {
    height: 100%;
    width: 100%;
  }
}

.happiness__cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  > .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 4;
    margin-bottom: -2.2917vw;

    span {
      font-weight: normal;
      font-size: 1.1979vw;
      letter-spacing: 0.01em;
      line-height: 1.4063vw;
      text-align: right;
      color: #732163;
      display: inline-block;
      margin-bottom: -0.5729vw;
    }

    p {
      font-weight: 800;
      font-size: 4.1667vw;
      line-height: 3.9063vw;
      text-align: right;
      color: #fcdb48;

    }
  }
}

.happiness__slides {
  width: 100%;
  height: 37.7083vw;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.8333vw;
}

.happy-slide {
  height: auto;
  position: relative;
  transition: width 0.5s ease;
  $left: calc(100% - (0.8333vw * 4));
  width: 12.3958vw;

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 12.5000vw;
      content: '';

      transition: height 0.3s ease;
    }
  }

  .text {
    z-index: 2;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 0);

    padding-bottom: 6.7063vw;
    transition: left 0.5s ease, right 0.5s ease, bottom 0.5s ease;

    p {
      width: 100%;
      font-weight: 600;
      font-size: 0.8854vw;
      line-height: 1;
      text-align: center;
      color: #fcdb48;
      white-space: nowrap;

      transition: font-size 0.5s ease, font-weight 0.5s ease, color 0.5s ease;
    }
  }

  &.active {
    width: calc(100% - ((0.8333vw + 12.3958vw) * 4));

    .text {
      p {
        font-size: 2.0833vw;
      }
    }

    .img {
      &::after {
        //height: 0;
      }
    }

    &:nth-child(1) {
      .text {
        right: 26%;
        bottom: 8.6%;
      }
    }

    &:nth-child(2) {
      .text {
        right: 39%;
        bottom: -2%;
      }
    }

    &:nth-child(3) {
      .text {
        bottom: 64.1%;
      }
    }

    &:nth-child(4) {
      .text {

        right: 30%;
        bottom: 50.4%;

        p {
          color: #732163;
        }
      }
    }

    &:nth-child(5) {
      .text {

        right: 75%;

      }
    }
  }

}

.safety {
  width: 100%;
  margin-top: -6.2500vw;
  height: 106.842105vh;

  .container {
    width: 100%;
    position: relative;
    z-index: 3;
    height: 100%;
  }
}

.safety__cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 9.25vw;
  padding-top: 8.8542vw;

  > .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4.4792vw;

    span {
      font-weight: 800;
      font-size: 4.1667vw;
      line-height: 1;
      text-align: center;
      color: #732163;
      display: inline-block;
      margin-bottom: 1.6375vw;
    }

    p {

      max-width: 41.2500vw;
      font-weight: 400;
      font-size: 1.1979vw;
      letter-spacing: 0.01em;
      line-height: 1.4063vw;
      text-align: center;
      color: #732163;

    }
  }
}

.safety-steps {
  width: 100%;
  padding-left: 6.5625vw;
  padding-right: 6.5625vw;
  gap: 7.4479vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.safety-single {
  width: calc((100% / 3) - ((7.4479vw * 2) / 3));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

  &::before {
    position: absolute;
    right: 104%;
    top: 26%;
    height: 3.1250vw;
    width: 5.7292vw;
    display: inline-block;
    content: '';
    background: url("../img/ar-l.svg") no-repeat center / 100%;
  }

  &:last-child {
    &::before {
      content: none;
    }
  }

  .img {
    width: auto;
    height: 7.8125vw;
    margin-bottom: 0.5208vw;

    img {
      height: 100%;
      width: auto;
    }
  }

  &:nth-child(1) {
    .img {
      margin-right: 0.5208vw;
    }
  }

  &:nth-child(2) {
    .img {
      margin-right: 0.5208vw;
    }
  }

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    span {
      display: inline-block;
      width: 100%;
      padding: 1px 0 0.4167vw;
      border-top: 1px solid #732163;
      border-bottom: 1px solid #732163;

      font-weight: normal;
      font-size: 2.0833vw;
      letter-spacing: 0.01em;
      line-height: 1;
      text-align: center;
      color: #732163;
      margin-bottom: 0.2604vw;

    }

    p {
      font-weight: normal;
      font-size: 1.1979vw;
      letter-spacing: 0.01em;
      line-height: 1.4063vw;
      text-align: center;
      color: #732163;

    }
  }
}

@media screen and (max-width: 1030px) and (min-width: 780px) {

  .thanks-page {
    padding-top: 100vh;
  }
  main {
    padding-top: 49.4792vw;
  }
  .house-heart {
    height: 52.8646vw;
  }
  .happiness, .safety, .client {
    height: 52.8646vw;
  }
  .save-house {
    height: 49.4792vw;
  }
  .client__outer {
    padding-top: calc(3.5417vw + 8.4479vw);
  }
}

.yellow-mob {
  display: none;
}

.heart-slider__mob {
  display: none;
}


.h-desk {
display: flex;
}
.h-mob {
  display: none;
}

.m-desk {
  display: none;
}

.fixed-mob-foot {
  display: none;
}
@media screen and (min-width: 781px) {
  .happiness__cont {
    padding-bottom: 7vw;
  }

}
@media screen and (max-width: 780px) {

  .h-desk {
    display: none;
  }
  .h-mob {
    display: flex;
  }
  .form form > p {
    display: none;
  }
  .thanks-block {
    padding-top: 81.444vw;
    z-index: 2;
    position: relative;
    padding-right: 8.3333vw;
    padding-left: 8.0556vw;
    width: 100%;

    h1 {
      font-size: 16.6667vw;
      line-height: 13.8889vw;
      width: 100%;
      text-align: center;
      margin-bottom: 5.5vw;
      color: #FCDB48;
    }

    > p {
      font-size: 5.5556vw;
      margin-bottom: 10.6889vw;
      line-height: 1;
      width: 100%;
      text-align: center;
    }

    .link {
      margin-bottom: 9.2vw;

      a {
        img {
          width: 13.8889vw !important;
          margin-right: 0 !important;
          height: 13.8889vw !important;
          flex-shrink: 0;

        }

        p {
          font-size: 4.1667vw;
          line-height: 5.5556vw;
          max-width: none;
          margin-right: 8.6111vw !important;
        }
      }
    }
  }
  .thanks-page {
    padding-top: 0;
  }
  .thanks {
    position: relative;
    min-height: 100vh;
    height: auto;
    background: url("../img/textrure-mob.png") repeat-y top left / 100%, #fff;

  }
  .thanks-img {
    right: 8.3333vw;
    left: 8.0556vw;
    top: 30.0000vw;
    height: 64.1667vw;
    bottom: auto;
    width: auto;
  }
  .header {
    transition: opacity 0.3s ease;

    &.header-fixed {
      opacity: 0;
      pointer-events: none;
    }
  }
  .fixed-mob-foot {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 9.4444vw;
    padding-left: 8.3333vw;
    padding-right: 8.3333vw;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 1.6667vw;
    z-index: 20;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }

    .logo {
      height: auto;
      width: 34.7222vw;
      display: flex;
      margin: 0;
      padding: 0;

      a, img {
        display: flex;
        width: 100%;
        height: auto;
      }
    }

    .phone {
      width: 13.8889vw;
      height: 13.8889vw;
      right: 8.3333vw;
      bottom: 1.1111vw;
      display: flex;
      position: absolute;
      transition: transform 0.3s ease;

      &:hover {
        transition: transform 0.3s ease;

        transform: scale(1.1);
      }

      img {
        width: 100%;
        height: 100%;

      }
    }
  }
  .footer-bot .text {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 2vw;

    p {
      font-size: 5.5556vw;
      line-height: 6.9444vw;
      text-align: center;
      letter-spacing: 0;
    }
  }
  .form {
    max-width: 100%;
    margin-top: 10.8vw;

    form {
      gap: 6.9444vw;
      > p {
        gap: 6.9444vw;
      }
    }
  }
  .check-wrap {
    order: 6;
    width: 100%;
    max-width: 100%;

    input + span {
      font-size: 4.1667vw;
      line-height: 7.5000vw;
      padding-right: 13.556vw;

      &::before {
        width: 8.3333vw;
        height: 8.3333vw;
        right: 2px;
        top: 58%;
      }
    }
  }
  .call {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 6vw;
    padding-right: 17.5vw;

    p {
      font-size: 6.3889vw;
      line-height: 7.5000vw;
      color: #FCDB48;
    }

    a {
      font-size: 22.2222vw;
      line-height: 1;
      color: #FCDB48;

      margin-top: -2.6vw;
      margin-right: -1.3vw;
    }
  }
  .btn {
    height: 12.5000vw;
    font-size: 6.3889vw;
    width: 100%;
    max-width: 100%;
    margin-top: 1px;
    padding: 4px 4px 2.2222vw;
  }
  .input-wrap {
    width: 100%;

    input {
      height: 8.0556vw;
      font-size: 4.1667vw;
      line-height: 1;
      padding: 0 0 1.9444vw;

      &::placeholder {
        font-size: 4.1667vw;
        line-height: 1;
      }
    }

  }
  .footer-bot {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6.8111vw;
    padding-bottom: 22.7222vw;
    padding-right: 7.7778vw;
    padding-left: 8.0556vw;
  }
  .client__cont .bg {
    background: url("../img/textrure-mob.png") repeat-y top left / 100%;
    opacity: 0.35;
    width: 100%;
    max-width: 100%;

    img {
      display: none;
    }
  }
  .client__cont {
    background: #732163;
  }
  .client__outer {
    padding-top: 0;
  }
  .client {
    margin-top: -14.417vw;
    height: auto;
    background: rgba(255, 255, 255, 0);

    &::before {
      content: none;
    }
  }
  .happiness {
    z-index: 2;
  }
  .client__top {
    height: auto;
    padding-top: 125.0000vw;
  }
  .client__top .img {
    width: 100%;
    height: 125.8333vw;
  }
  .client__top .text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    max-width: 100%;
    height: auto;
    padding-bottom: 18.6111vw;
    padding-top: 35.5333vw;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8.3333vw;
    padding-right: 8.3333vw;
    filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.16));

    .arrow-btn {
      display: flex;
      top: 3.2222vw;
    }

    background: url("../img/yellow3mob.svg") no-repeat top left / 101% 100%;

    span {
      font-size: 13.8889vw;
      line-height: 1;
      text-align: center;
      margin-bottom: 6.6354vw;
    }

    p {
      br {
        display: none;
      }

      text-align: center;
      font-size: 5.5556vw;
      line-height: 6.9444vw;
      margin-bottom: 6.9444vw;

    }
  }
  .safety {
    z-index: 1;
    height: auto;
    background: url("../img/textrure-mob.png") repeat-y top left / 100% auto;
    margin-top: -11.55vw;
    padding-top: 36.65vw;
    padding-bottom: 34vw;
  }
  .safety__cont {
    padding: 0 8.3333vw;

    > .text {
      margin-bottom: 21.989vw;

      span {
        font-size: 13.8889vw;
        line-height: 1;
        margin-bottom: 17.8333vw;
        max-width: 92%;
        margin-right: -2px;
        letter-spacing: 0.006em;
      }

      p {
        font-size: 5.5556vw;
        line-height: 6.9444vw;
        letter-spacing: 0;
        max-width: 100%;

      }
    }

  }

  .safety-steps {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 63.7vw;
  }
  .safety-single {
    width: 100%;

    &::before {
      height: 16.6667vw;
      width: 30.5556vw;
      right: 50%;
      top: 134.5%;
      transform: translate(50%, 0) rotate(-90deg);
    }

    .img {
      height: 41.6667vw;
      width: auto;
      margin-bottom: 2.4111vw;

      img {
        height: 100%;
        width: auto;
      }
    }

    .text {
      span {
        font-size: 11.1111vw;
        line-height: 1;
        padding-bottom: 2.5000vw;
        margin-bottom: 1.2604vw;
      }

      p {
        font-size: 5.5556vw;
        line-height: 6.9444vw;
        letter-spacing: 0;
      }
    }
  }
  .safety-steps {
    padding-left: 0;
    padding-right: 0;
  }
  .safety-single:nth-child(1) .img {
    margin-right: 2.5208vw;
  }
  .safety-single:nth-child(2) .img {
    margin-right: 2.5208vw;
  }
  .safety-single:nth-child(3) .img {
    margin-right: -0.7vw;
    margin-bottom: 2.9vw;
  }
  .safety-single:nth-child(3) .text span {
    margin-bottom: 1.204vw;
  }
  .happy-slide .text {
    padding-bottom: 0;
    right: 8.3%;
    bottom: 6.5vw;
    transform: translate(0, 0);

    p {
      font-size: 4.1667vw;
      letter-spacing: -0.005em;
    }
  }
  .happy-slide {
    .img {
      &::after {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
        height: 100%;
        right: 0;
        left: auto;
        width: 93.0556vw;
        transition: width 0.5s ease;
      }
    }

    &.active {
      .img {
        &::after {
          width: 0;
        }
      }

      .text {

        p {
          font-size: 5.5556vw;
        }
      }
    }
  }
  .happy-slide.active:nth-child(1) .text {
    right: 60%;
    bottom: 7.6%;
  }
  .happy-slide.active:nth-child(2) .text {
    right: 24%;
    bottom: 8%;
  }
  .happy-slide.active:nth-child(3) .text {
    right: 28.7%;
    bottom: 85.1%;

    p {
      letter-spacing: 0.005em;
    }
  }
  .happy-slide.active:nth-child(4) .text {
    right: 9.2%;
    bottom: 85%;

    p {
      color: #FCDB48;
    }
  }
  .happy-slide.active:nth-child(5) .text {
    right: 5%;
    bottom: 59vw;

    p {
      color: #732163;
    }
  }
  .save-house {
    background: url("../img/textrure-mob.png") repeat-y top left/100%;
  }
  .h-desk {
    display: none;
  }
  .m-desk {
    display: flex;
  }
  .container {
    max-width: 100%;
  }
  .house-heart__cont {
    padding-right: 0;

    .text {
      z-index: 3;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0 8.3333vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      span {
        text-align: center;
        font-size: 13.8889vw;
        line-height: 1;
      }

      p {
        text-align: center;
        font-size: 5.5556vw;
        line-height: 1;
      }
    }

  }

  .save-house {
    &::after {
      width: 100%;
      bottom: 0;
      height: 29vw;
      background: url("../img/textrure-mob.png") repeat-y top left / 100% auto, #fff;
      display: inline-block;
      content: '';
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }
  .heart-slider__desk {
    display: none;
  }
  .heart-slider__mob {
    width: 100%;
    display: flex;
    padding-left: 8.3333vw;
    padding-right: 8.3333vw;
    margin-top: -2.6vw;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .heart-slider__mob-cont {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;


    .swiper-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
    }
  }
  .house-heart__cont .text p {
    margin-top: -2px;
  }
  .swiper-arrow {
    height: 7.7778vw;
    width: 10.2778vw;
    background: url("../img/arr-sl-l.svg") no-repeat center / 100%;

    &.arrow-next {
      transform: rotate(180deg);
    }

  }
  .house-heart {
    height: auto;
    padding-bottom: 17vw;
  }
  .happiness {
    height: auto;
  }
  .heart-slider__mob {
    padding-bottom: 2vw;

    .swiper-arrow {
      position: absolute;
      bottom: 0.8vw;

      &.swiper-button-disabled {
        opacity: 0.5;
      }

      &.arrow-prev {
        left: 8.3333vw;
      }

      &.arrow-next {
        right: 8.3333vw;
      }
    }
  }

  .pagin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6667vw;
    margin-top: 6.1vw;

    .swiper-pagination-bullet {
      border-radius: 50%;
      width: 5.5556vw;
      height: 5.5556vw;
      box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.16);
      opacity: 0.7;
      background: #FCDB48;
      transition: background-color 0.3s ease;

      &.swiper-pagination-bullet-active {
        background: #732163;

      }
    }
  }
  .heart-mob-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    //margin-right: -30px;

    p {
      margin-top: 2.8444vw;
      font-size: 4.1667vw;
      line-height: 1;
      font-weight: normal;
      color: #732163;

      strong {
        font-weight: 800;
      }
    }

    .video {
      width: 100%;
      height: 77.5000vw;
      overflow: hidden;
      position: relative;

      video, iframe, img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .play {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 23.0556vw;
        height: 23.0556vw;
        opacity: 1;
        transition: opacity 0.3s ease;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &.played {
        .play {
          opacity: 0;

        }
      }
    }
  }

  .house-heart {
    background: url("../img/textrure-mob.png") repeat-y top left / 100% auto, #fff;
  }

  .yellow-mob {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .save-house__cont .text {
    display: none;
  }
  .yellow-mask {
    &::before {
      display: none;
    }

    .arrow-btn {
      display: none;
    }
  }
  .arrow-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    position: absolute;

    > img {
      display: none;
    }

    &.arrow-btn--top {
      left: 50%;
      top: 2.2222vw;
      transform: translate(-50%, 0);
    }

    &.arrow-btn--bot {
      left: 50%;
      bottom: 2.7vw;
      transform: translate(-50%, 0);
    }

    .im {
      width: 11.1111vw;
      height: 11.1111vw;
      background: rgba(252, 219, 72, 0.86);
      border-radius: 50%;
      box-shadow: inset 0 6px 6px 0 rgba(0, 0, 0, 0.16);

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-weight: normal !important;
      font-size: 4.1667vw !important;
      line-height: 1 !important;
      text-align: center;
      color: #732163 !important;

    }
  }
  .save-house__cont {
    .yellow-mob {

      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      height: 151.6667vw;
      position: relative;
      width: 100%;
      max-width: 100%;
      margin: 0;
      margin-top: -20.4vw;
      padding: 26.9444vw 8.3333vw 14.8889vw;

      &::before {
        top: 0;
        left: 0;
        right: 0;
        height: 134.4444vw;
        z-index: -1;
        display: inline-block;
        content: '';
        position: absolute;
        background: url("../img/yellow1mob.svg") no-repeat top left / 100%;
      }

      p {
        font-weight: normal;
        font-size: 5.5556vw;
        line-height: 6.9444vw;
        margin-bottom: 6.9444vw;
        text-align: center;
        width: 100%;
        color: #732163;

        br {
          display: none;
        }
      }
    }
  }
  .yellow-mob {
    display: flex;
  }
  .save-house {
    overflow: hidden;
  }
  .save-house.hide {
    opacity: 1;
  }
  .other-bg-section {
    z-index: 4;
  }
  .happiness__cont {
    justify-content: flex-start;

    flex-grow: 1;
    position: relative;

    > .text {
      margin: 0;
      width: 100%;
      position: static;

      p {
        position: absolute;
        display: inline-block;
        max-width: none;
        margin: 0;
        width: 100%;
        font-weight: 800;
        font-size: 13.8889vw;
        letter-spacing: 0.01em;
        line-height: 1;
        text-align: center;
        color: #732163;
        right: 0;
        padding: 0 5vw;
        top: 13vw;
      }

      span {
        font-size: 5.5556vw;
        line-height: 6.9444vw;
        text-align: center;
        color: #732163;
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0.6vw;
        letter-spacing: 0.005em;
        padding: 0 19vw;
      }
    }
  }
  .happiness__slides {
    height: 135.5556vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5556vw;
  }
  .happy-slide {
    width: 100%;
    transition: height 0.6s ease;
    height: 16.6667vw;

    &.active {
      width: 100%;
      height: calc(100% - (0.5556vw * 4) - (16.6667vw * 4));
    }
  }
  .happiness__cont {
    padding-top: 37.3vw;
  }
  .happiness {
    height: 225.8333vw;
    position: relative;
    margin-top: -11.2vw;
    padding-top: 22.2222vw;
    padding-bottom: 14.7222vw;

    .container {
      z-index: 2;
      position: relative;
      flex-grow: 1;
      display: flex;

    }

    .yellow-mob {
      height: 100%;
      z-index: 1;
      top: 0;

      .arrow-btn.arrow-btn--top {
        top: 3.222vw;
      }

      .arrow-btn.arrow-btn--bot {
        bottom: -8.1vw;
      }

      &::before {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        z-index: -1;
        display: inline-block;
        content: '';
        position: absolute;
        background: url("../img/yellow2mob.svg") no-repeat top left / 100%;
      }
    }
  }

  body {
    background: url("../img/textrure-mob.png") repeat-y top left / 100% auto;
    background-attachment: fixed;
  }
  .header-menu {
    display: none;
  }
  main {
    padding-top: 0;
  }

  .save-house {
    height: auto;
    position: relative;
  }
  .save-house__cont {
    padding-top: 100vh;

    h1 {
      font-size: 16.6667vw;
      letter-spacing: 0.01em;
      line-height: 13.8889vw;
      text-align: center;
      top: 126vw;
      position: fixed;

    }
  }
  .video-head {
    position: fixed;
    top: 30.0000vw;
    left: 8.3333vw;
    right: 8.3333vw;
    height: 104.4444vw;
    margin: 0;
    width: auto;
  }
  .header-cont {
    padding: 9.4444vw 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .bg-head {
    display: none;
  }
  .header {
    .logo {
      width: 59.1667vw;
      height: auto;
      margin: 0;

      a, img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 780px) and (min-width: 600px) {
  .video-head {
    height: 75vw;
  }
  .happiness {
    height: 182.8333vw;

  }

  .happiness .yellow-mob::before {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    display: inline-block;
    content: '';
    position: absolute;
    background: url(../img/yellow2mob.svg) no-repeat top left/100% 100%;
  }
  .save-house__cont h1 {
    top: 83vw;
  }
  .heart-mob-slide .video {
    height: 59vw;
  }
  .happiness__cont > .text p {
    top: 5vw;
  }
  .happiness__cont {
    padding-top: 24.3vw;
  }
  .happiness__slides {
    height: 100vw;
  }
}


/*
Theme Name: gilhazahav
*/

.iframe-video-block {
  position: absolute;
  //background: red;
  width: 64.2708vw;
  height: 100%;
  top: 0;
  left: calc(1.5104vw + 5.6771vw + 0.4688vw);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  &.playing {
    opacity: 1;
    pointer-events: auto;
  }
  .video-block {
    width: 100%;
    height: 100%;
  }
  .video-item {
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
.wpcf7-not-valid{
  border-bottom:1px solid red!important;
}
.wpcf7-not-valid-tip, .wpcf7-validation-errors{
  display:none!important;
}
.wpcf7-response-output {
  display: none!important;
}

.house-heart__cont .video-wrapper,
.house-heart__cont .video-wrapper iframe,
.house-heart__cont .video-wrapper .video-poster{
  width:100%;
  height:100%;
}

.house-heart__cont .video-wrapper iframe{
  border:0;
}

.house-heart__cont .video-wrapper .video-poster img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.house-heart__cont .play{
  cursor:pointer;
}

@media screen and (max-width: 780px) {
  .iframe-video-block {
    height: 59vw;
    left: 8.3333vw;
    width: calc(100vw - 8.3333vw - 8.3333vw);
    top: 44.3vw;
  }
}

